/*
 * Base
 */
html {
    font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    font-size: 8px;
    line-height: 1.5;
}

body {
    background-color: #000;
    overflow-x: hidden;

}


   
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
   

 #index1{
   background-image:url('img/select/hobby.jpg');
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
  }

  .inner{
    min-height:600px;
    margin:0 auto 0;
    text-align: center;
    position: relative;
  }
   
  .index .inner{
    background: rgba(0,0,0,0.4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}
 
    #profile1{
        background-image:url('img/select/profilePage.jpg');
         background-size:cover;
         background-position:center center;
         background-attachment:fixed;
       }
    .profile .inner{
      
        background: rgba(0,0,0,0.4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}
     
     #research1{
        background-image:url('img/select/research.jpg');
         background-size:cover;
         background-position:center center;
         background-attachment:fixed;
       }   
    .research .inner{
        background: rgba(0,0,0,0.4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}
     
     #contact1{
            background-image:url('img/select/contact.jpg');
             background-size:cover;
             background-position:center center;
             background-attachment:fixed;
           }   
     .contact .inner{
            background: rgba(0,0,0,0.4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}
    
     #garally1{
                background-image:url('img/select/garally.jpg');
                 background-size:cover;
                 background-position:center center;
                 background-attachment:fixed;
               }   
         .garally .inner{
                background: rgba(0,0,0,0.4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}
        
           

img {
    vertical-align: middle;
}

button {
    outline: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



.page-header {
    background-color: #fff;

}



.page-main {
    position: relative;
   
}




.page-main > div {
    padding: 50px 0 100px;
    margin: auto;
 
}

.page-main > div h1 {
    color: #fff;
    text-align: center;
    margin: 0 0 50px;
    font-weight: normal;
    letter-spacing: 0.15em;
    font-size: 20px;
}

.page-main > div h2 {
    color: #fff;
    text-align: center;
    margin: 0 0 50px;
    font-weight: normal;
    letter-spacing: 0.15em;
    font-size: 30px;
}


.page-main > div h3 {
    color: #fff;
    text-align: center;
    margin: 0 0 50px;
    font-weight: normal;
    letter-spacing: 0.15em;
    font-size: 50px;
}

.page-main > div h4 {
    color: #fff;
    text-align: center;
    margin: 0 0 50px;
    font-weight: normal;
    letter-spacing: 0.15em;
    font-size: 40px;
}

.page-main > aside {
    background-color: rgba(0,0,0,0.8);
    width: 350px;
    height: 100%;
    top: 0;
    left: -350px;
    position: fixed;
}

.page-main > aside ul {
    margin: 0;
    padding: 0;
    top: 50px;
    left: auto;
    position: absolute;
}







.page-main > aside li {
    margin: 0 0 20px;
    list-style: none;
}

.page-main > aside button {
    background-color: rgba(0,0,0,0.8);
    display: block;
    position: absolute;
    top: 150px;
    left: 350px;
    width: 52px;
    height: 132px;
    margin: 0;
    padding: 0;
    border: none;
}

.bg_img {
    position: relative;/*相対配置*/
    filter: brightness(50%);
    }
  
  .bg_img p {
    position: absolute;
    color: white;
    font-weight:bold;
    text-align: center;
    font-size:80px;
    font-family :Quicksand, sans-serif;
    top: 20%;
    left: 50%;
    }
  
  .bg_img img {
    width: 100%;
    }

#typo {
    margin: 0;
    padding: 0;
    background-color: #3498db;
    font-weight: bold;
    font-size: 110px;
    color: #fff;
    text-align: center;
    line-height: 500px;
    height: 500px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#buttons1 {
    background-color: #ebc000;
}

#buttons2 {
    background-color: #01b169;
    height: 340px;
}

#images {
    background: rgba(255,0,0,0.0);
  
}

#easing {
    background-color: #019faa;
}

#typo .inner,

#images .inner{
    position: relative;
    width: 70%;    
}


#instagram p{
    position: relative;
    margin: 20 auto 20;
    padding: 20 auto 20;
}


#images p {
    position: relative;
    margin: 50px  auto 150px;
    padding:0 auto 0;
    width: 435px;
    height: 285px;
    


    
}

#images p strong {
    color: #fff;
    font-size: 30px;
}

.page-footer {
    background-color: #656565;
}

.page-footer small {
    display: block;
    color: #fff;
    font-size: 8px;
    text-align: center;
    width: 976px;
    margin: 0 auto;
    height: 120px;
    line-height: 120px;
    letter-spacing: 0.15em;
}

.page-footer a {
    color:floralwhite;
    text-decoration: none;
    text-align: center;
    padding: 0 auto;
}

/*
 * Helpers
 */

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}


/*
 * sample.js用
 */

/* #images */
#images p {
    overflow:hidden;
   
}

#images p strong {
    position: absolute;
    display: block;
    z-index: 1;
    bottom: 0;
    width: 540px;
    height: 80px;
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 20px;
}

#images p span {
    position: absolute;
    display: block;
    z-index: 0;
    top: 0;
    width: 435px;
    height: 295px;
    box-shadow: inset 0 0 50px rgba(50, 30, 0, 0.6),
                inset 0 0 100px rgba(50, 30, 0, 0.3);
    background: rgba(0, 153, 255, 0.349);
    opacity: 0;
}

#images p:nth-child(1) strong {
    bottom: -80px;
    background: rgba(34, 34, 34, 1);
}

#images p:nth-child(1) img {
    position: absolute;
    top: 0px;
    left:0px;
}

#images p:nth-child(2) strong {
    bottom: -80px;
    background: rgba(34, 34, 34, 1);
}

#images p:nth-child(2) img {
    position: absolute;
    top: 0px;
    left:0px;
}

#images p:nth-child(3) strong {
    bottom: -80px;
    background: rgba(34, 34, 34, 1);
}

#images p:nth-child(3) img {
    position: absolute;
    top: 0px;
    left:0px;
}


#images p:nth-child(4) strong {
    bottom: -80px;
    background: rgba(34, 34, 34, 1);
}

#images p:nth-child(4) img {
    position: absolute;
    top: 0px;
    left:0px;
}

